- Most financial data are time series.

- In other words, they are related to time.

In [1]:
import pandas as pd

df = pd.read_csv('data/test.csv')
df.head()

                   Unnamed: 0       price  volume   buy  sell
0  2018-11-21 09:00:04.278571  266.200012     1.0   0.0   1.0
1  2018-11-21 09:00:08.557143  266.200012     1.0   0.0   1.0
2  2018-11-21 09:00:12.835714  266.250000    21.0  21.0   0.0
3  2018-11-21 09:00:17.114286  266.299988     1.0   1.0   0.0
4  2018-11-21 09:00:21.392857  266.350006     2.0   2.0   0.0

#### [Datetime](https://docs.python.org/3/library/datetime.html)

- datetime object : The time of a specific moment.

- Timedelta object : The interval between two datetime obects.

In [2]:
from datetime import datetime as dt
from datetime import timedelta as td

#datetime
print(dt.now())
print(type(dt.now()))
print(dt(2021, 7, 20))
print(dt(2021, 7, 20, 20, 31, 10, 333))

2021-09-17 14:23:18.855235
<class 'datetime.datetime'>
2021-07-20 00:00:00
2021-07-20 20:31:10.000333

In [3]:
#timedelta
delta = dt(2021, 7, 20) - dt(2021, 1, 1)
print(delta)
print(type(delta))

200 days, 0:00:00
<class 'datetime.timedelta'>

In [4]:
dt(2021, 1,1) + td(200)

datetime.datetime(2021, 7, 20, 0, 0)

### Strings $\rightarrow$ Datetime object (Strings $\leftarrow$ Datetime object)
    - strftime, strptime, parse, pd.to_datetime

In [4]:
date = dt(2021, 1, 1)
date

datetime.datetime(2021, 1, 1, 0, 0)

In [5]:
date.strftime()

TypeError: strftime() missing required argument 'format' (pos 1)

In [9]:
text = date.strftime('%Y-%m-%d')
text

'2021-01-01'

In [11]:
dt.strptime(text)

TypeError: strptime() takes exactly 2 arguments (1 given)

In [12]:
dt.strptime(text, '%Y-%m-%d')

datetime.datetime(2021, 1, 1, 0, 0)

In [13]:
from dateutil.parser import parse

print(parse('2018-09-01'))
print(parse('Jan. 21, 2015  11:00 P.M'))

2018-09-01 00:00:00
2015-01-21 23:00:00

C:\Users\Park\anaconda3\envs\main\lib\site-packages\dateutil\parser\_parser.py:1218: UnknownTimezoneWarning: tzname M identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [14]:
df.iloc[:,0]

0         2018-11-21 09:00:04.278571
1         2018-11-21 09:00:08.557143
2         2018-11-21 09:00:12.835714
3         2018-11-21 09:00:17.114286
4         2018-11-21 09:00:21.392857
                     ...
865025    2018-12-28 15:35:56.900000
865026    2018-12-28 15:35:27.950000
865027    2018-12-28 15:35:57.900000
865028    2018-12-28 15:35:28.950000
865029    2018-12-28 15:35:58.900000
Name: Unnamed: 0, Length: 865030, dtype: object

In [15]:
type(df.iloc[:,0][0])

str

In [16]:
pd.to_datetime(df.iloc[:,0])

0        2018-11-21 09:00:04.278571
1        2018-11-21 09:00:08.557143
2        2018-11-21 09:00:12.835714
3        2018-11-21 09:00:17.114286
4        2018-11-21 09:00:21.392857
                    ...
865025   2018-12-28 15:35:56.900000
865026   2018-12-28 15:35:27.950000
865027   2018-12-28 15:35:57.900000
865028   2018-12-28 15:35:28.950000
865029   2018-12-28 15:35:58.900000
Name: Unnamed: 0, Length: 865030, dtype: datetime64[ns]

## Exercise

- When performing analysis using actual financial data, errors often occur due to time.

In [17]:
import pandas as pd

df = pd.read_csv('data/test.csv', index_col = 0, parse_dates=True)
df.head()

                                 price  volume   buy  sell
2018-11-21 09:00:04.278571  266.200012     1.0   0.0   1.0
2018-11-21 09:00:08.557143  266.200012     1.0   0.0   1.0
2018-11-21 09:00:12.835714  266.250000    21.0  21.0   0.0
2018-11-21 09:00:17.114286  266.299988     1.0   1.0   0.0
2018-11-21 09:00:21.392857  266.350006     2.0   2.0   0.0

- We need the index to be datetime index to avoid errors.

In [20]:
df.resample('5t').sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [21]:
type(df.index[0])
type(df.index[0])

str

In [22]:
df.index = pd.to_datetime(df.index)
df.resample('5t').last()

                          price  volume  buy  sell
2018-11-21 09:00:00  265.850006     2.0  0.0   2.0
2018-11-21 09:05:00  266.250000     2.0  0.0   2.0
2018-11-21 09:10:00  265.850006    35.0  0.0  35.0
2018-11-21 09:15:00  266.399994     5.0  5.0   0.0
2018-11-21 09:20:00  266.350006     1.0  1.0   0.0
...                         ...     ...  ...   ...
2018-12-28 15:15:00  262.549988    17.0  0.0  17.0
2018-12-28 15:20:00  262.649994     2.0  2.0   0.0
2018-12-28 15:25:00  262.299988     1.0  1.0   0.0
2018-12-28 15:30:00  262.100006     5.0  0.0   5.0
2018-12-28 15:35:00  262.100006     1.0  0.0   1.0

[10736 rows x 4 columns]

In [24]:
df.loc[df.index > dt(2018,12,1),]

                                 price  volume   buy  sell
2018-12-03 09:00:03.523529  275.600006     2.0   2.0   0.0
2018-12-03 09:00:07.047059  275.600006     1.0   1.0   0.0
2018-12-03 09:00:10.570588  275.600006    20.0  20.0   0.0
2018-12-03 09:00:14.094118  275.600006     6.0   6.0   0.0
2018-12-03 09:00:17.617647  275.600006     6.0   6.0   0.0
...                                ...     ...   ...   ...
2018-12-28 15:35:56.900000  262.100006    10.0   0.0  10.0
2018-12-28 15:35:27.950000  262.100006     2.0   0.0   2.0
2018-12-28 15:35:57.900000  262.100006     5.0   0.0   5.0
2018-12-28 15:35:28.950000  262.100006     4.0   0.0   4.0
2018-12-28 15:35:58.900000  262.100006     1.0   0.0   1.0

[623726 rows x 4 columns]