- Most financial data are time series.

- In other words, they are related to time.

In [2]:
import pandas as pd

df = pd.read_csv('data/test.csv')
df.head()

                   Unnamed: 0       price  volume   buy  sell
0  2018-11-21 09:00:04.278571  266.200012     1.0   0.0   1.0
1  2018-11-21 09:00:08.557143  266.200012     1.0   0.0   1.0
2  2018-11-21 09:00:12.835714  266.250000    21.0  21.0   0.0
3  2018-11-21 09:00:17.114286  266.299988     1.0   1.0   0.0
4  2018-11-21 09:00:21.392857  266.350006     2.0   2.0   0.0

#### [Datetime](https://docs.python.org/3/library/datetime.html)

- datetime object : The time of a specific moment.

- Timedelta object : The interval between two datetime obects.

In [1]:
from datetime import datetime as dt
from datetime import timedelta as td

#datetime
print(dt.now())
print(type(dt.now()))
print(dt(2021, 7, 20))
print(dt(2021, 7, 20, 20, 31, 10, 333))

2022-03-24 17:04:23.778546
<class 'datetime.datetime'>
2021-07-20 00:00:00
2021-07-20 20:31:10.000333

In [3]:
#timedelta
delta = dt(2021, 7, 20) - dt(2021, 1, 1)
print(delta)
print(type(delta))

200 days, 0:00:00
<class 'datetime.timedelta'>

In [4]:
dt(2021, 1,1) + td(200)

datetime.datetime(2021, 7, 20, 0, 0)

### Strings $\rightarrow$ Datetime object (Strings $\leftarrow$ Datetime object)
    - strftime, strptime, parse, pd.to_datetime

In [5]:
date = dt(2021, 1, 1)
date

datetime.datetime(2021, 1, 1, 0, 0)

In [5]:
date.strftime()

TypeError: strftime() missing required argument 'format' (pos 1)

In [8]:
text = date.strftime('%Y.%m.%d')
text

'2021.01.01'

In [9]:
dt.strptime(text)

TypeError: strptime() takes exactly 2 arguments (1 given)

In [10]:
dt.strptime(text, '%Y.%m.%d')

datetime.datetime(2021, 1, 1, 0, 0)

In [13]:
from dateutil.parser import parse

print(parse('2018-09-01'))
print(parse('Jan. 21, 2015  11:00 P.M'))

2018-09-01 00:00:00
2015-01-21 23:00:00

C:\Users\Park\anaconda3\envs\main\lib\site-packages\dateutil\parser\_parser.py:1218: UnknownTimezoneWarning: tzname M identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [11]:
df.iloc[:,0]

0         2018-11-21 09:00:04.278571
1         2018-11-21 09:00:08.557143
2         2018-11-21 09:00:12.835714
3         2018-11-21 09:00:17.114286
4         2018-11-21 09:00:21.392857
                     ...
865025    2018-12-28 15:35:56.900000
865026    2018-12-28 15:35:27.950000
865027    2018-12-28 15:35:57.900000
865028    2018-12-28 15:35:28.950000
865029    2018-12-28 15:35:58.900000
Name: Unnamed: 0, Length: 865030, dtype: object

In [15]:
type(df.iloc[:,0][0])

str

In [12]:
pd.to_datetime(df.iloc[:,0])

0        2018-11-21 09:00:04.278571
1        2018-11-21 09:00:08.557143
2        2018-11-21 09:00:12.835714
3        2018-11-21 09:00:17.114286
4        2018-11-21 09:00:21.392857
                    ...
865025   2018-12-28 15:35:56.900000
865026   2018-12-28 15:35:27.950000
865027   2018-12-28 15:35:57.900000
865028   2018-12-28 15:35:28.950000
865029   2018-12-28 15:35:58.900000
Name: Unnamed: 0, Length: 865030, dtype: datetime64[ns]

## Exercise

- When performing analysis using actual financial data, errors often occur due to time.

In [13]:
import pandas as pd

df = pd.read_csv('data/test.csv', index_col = 0, parse_dates=True)
df.head()

                                 price  volume   buy  sell
2018-11-21 09:00:04.278571  266.200012     1.0   0.0   1.0
2018-11-21 09:00:08.557143  266.200012     1.0   0.0   1.0
2018-11-21 09:00:12.835714  266.250000    21.0  21.0   0.0
2018-11-21 09:00:17.114286  266.299988     1.0   1.0   0.0
2018-11-21 09:00:21.392857  266.350006     2.0   2.0   0.0

- We need the index to be datetime index to avoid errors.

In [21]:
type(df.index[0])
type(df.index[0])

str

In [24]:
df.index = pd.to_datetime(df.index)
df.price.resample('1d')

                  open        high         low       close
2018-11-21  266.200012  268.799988  265.500000  268.500000
2018-11-22  268.500000  269.399994  267.700012  268.299988
2018-11-23  268.000000  268.850006  265.250000  266.600006
2018-11-24         NaN         NaN         NaN         NaN
2018-11-25         NaN         NaN         NaN         NaN
2018-11-26  267.100006  270.399994  266.799988  270.299988
2018-11-27  271.000000  272.750000  269.450012  272.350006
2018-11-28  273.049988  273.899994  271.700012  273.850006
2018-11-29  277.700012  278.000000  273.750000  274.200012
2018-11-30  275.299988  275.500000  271.049988  271.649994
2018-12-01         NaN         NaN         NaN         NaN
2018-12-02         NaN         NaN         NaN         NaN
2018-12-03  275.600006  277.200012  273.799988  276.399994
2018-12-04  275.100006  275.750000  272.049988  273.600006
2018-12-05  269.950012  272.750000  269.700012  271.899994
2018-12-06  270.000000  270.399994  267.049988  267.500000
2018-12-07  268.700012  269.750000  267.350006  268.600006
2018-12-08         NaN         NaN         NaN         NaN
2018-12-09         NaN         NaN         NaN         NaN
2018-12-10  264.750000  266.549988  264.000000  265.549988
2018-12-11  266.500000  266.500000  264.299988  265.100006
2018-12-12  266.250000  269.100006  265.750000  268.899994
2018-12-13  266.450012  268.250000  265.299988  267.399994
2018-12-14  266.950012  267.200012  261.350006  262.700012
2018-12-15         NaN         NaN         NaN         NaN
2018-12-16         NaN         NaN         NaN         NaN
2018-12-17  263.149994  264.500000  263.049988  263.649994
2018-12-18  261.549988  264.000000  261.500000  262.700012
2018-12-19  263.350006  264.700012  262.649994  264.549988
2018-12-20  262.750000  263.299988  260.200012  261.700012
2018-12-21  261.350006  262.000000  260.350006  261.600006
2018-12-22         NaN         NaN         NaN         NaN
2018-12-23         NaN         NaN         NaN         NaN
2018-12-24  261.000000  261.600006  259.799988  261.549988
2018-12-25         NaN         NaN         NaN         NaN
2018-12-26  257.899994  259.500000  256.149994  257.700012
2018-12-27  261.500000  262.350006  260.399994  261.100006
2018-12-28  261.700012  263.500000  261.500000  262.100006

In [22]:
df.index = pd.to_datetime(df.index)
df.resample('5t').last()

                          price  volume  buy  sell
2018-11-21 09:00:00  265.850006     2.0  0.0   2.0
2018-11-21 09:05:00  266.250000     2.0  0.0   2.0
2018-11-21 09:10:00  265.850006    35.0  0.0  35.0
2018-11-21 09:15:00  266.399994     5.0  5.0   0.0
2018-11-21 09:20:00  266.350006     1.0  1.0   0.0
...                         ...     ...  ...   ...
2018-12-28 15:15:00  262.549988    17.0  0.0  17.0
2018-12-28 15:20:00  262.649994     2.0  2.0   0.0
2018-12-28 15:25:00  262.299988     1.0  1.0   0.0
2018-12-28 15:30:00  262.100006     5.0  0.0   5.0
2018-12-28 15:35:00  262.100006     1.0  0.0   1.0

[10736 rows x 4 columns]

In [24]:
df.loc[df.index > dt(2018,12,1),]

                                 price  volume   buy  sell
2018-12-03 09:00:03.523529  275.600006     2.0   2.0   0.0
2018-12-03 09:00:07.047059  275.600006     1.0   1.0   0.0
2018-12-03 09:00:10.570588  275.600006    20.0  20.0   0.0
2018-12-03 09:00:14.094118  275.600006     6.0   6.0   0.0
2018-12-03 09:00:17.617647  275.600006     6.0   6.0   0.0
...                                ...     ...   ...   ...
2018-12-28 15:35:56.900000  262.100006    10.0   0.0  10.0
2018-12-28 15:35:27.950000  262.100006     2.0   0.0   2.0
2018-12-28 15:35:57.900000  262.100006     5.0   0.0   5.0
2018-12-28 15:35:28.950000  262.100006     4.0   0.0   4.0
2018-12-28 15:35:58.900000  262.100006     1.0   0.0   1.0

[623726 rows x 4 columns]